body {
    background-image: url("/static/images/Dinnertable.webp");
    background-size: cover;
    position: relative;
    color: #000;
    font-family: 'Eczar', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Bilbo Swash Caps', sans-serif;
    font-size: 61px;
    font-weight: 700;
}

h3 {
    font-family: 'Bilbo Swash Caps', sans-serif;
    font-size: 61px;
    font-weight: 700;
}

h1.text-center {
    font-size: 61px;
    font-weight: 700;
}

h5 {
    font-family: 'Bilbo Swash Caps', sans-serif;
    font-size: 25px;
    margin-bottom: 2rem;
}


/* Navbar */

nav {
    min-height: 116px;
    background-color: black;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item a {
    transform: translatex(0px) translatey(0px);
    font-size: 25px;
    color: black
}

.navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
    bottom: 5px;
    /* top: 10px; */
    z-index: 2;
}

@media (max-width: 576px) {
    .navbar-toggler {
        width: 40px;
        height: 40px;
    }

    .navbar-toggler-icon {
        width: 24px;
        height: 24px;
        background-size: 24px;
    }
}

/* offcanvas */
#offcanvasDarkNavbar .offcanvas-body {
    background-image: url("/static/images/card-background.webp");
}

#offcanvasDarkNavbar .offcanvas-header {
    background-color: black;
}

#offcanvasDarkNavbarLabel {
    color: #FEC354;
}

query {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}

/* Button */

.offcanvas-body .d-flex .btn-outline-success {
    background-color: #005248;
    transform: translatex(0px) translatey(0px);
    color: #ffffff;
}

.offcanvas-body .d-flex .btn-outline-success:hover {
    background-color: #007061;
}

.offcanvas-body .d-flex .btn-outline-success:active {
    background-color: #007061;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

typed-text-container {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Bilbo Swash Caps', sans-serif;
    padding: 10px;
}

/* profile */
.username .text-center {
    background-color: #b9a89a;
    transform: translatex(0px) translatey(18px);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.row .card h6 {
    font-size: 31px;
}

.row .card h5 {
    font-size: 50px;
    font-weight: 600;
}

/* Button */
.username a {
    transform: translatex(0px) translatey(-8px);
    background-color: #005248;
}

.username a:hover {
    background-color: #007061;
}

.username a:active {
    background-color: #007061 !important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.semi-transparent {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 5px;
}

.Archives-box {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
    padding: 20px;
}

/* cards */
.row .my-3 h6 {
    font-size: 33px;
    color: #121215 !important;
}

.row .my-3 strong {
    font-size: 24px;
}

.row .my-3 .card-text {
    transform: translatex(0px) translatey(0px);
    font-size: 18px;
}

.custom-card {
    background-image: url("/static/images/card-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-img-custom {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-img-custom-profile {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.custom-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.custom-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
textarea,
select,
form .form-group textarea,
#Category_name {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}

select {
    background-image: url('select-arrow.png');
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
}

/* Forms */
.form-background {
    background-image: url("/static/images/card-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main form h1.text-center {
    font-size: 61px;
    font-weight: 700;
}

main form p.text-center {
    font-size: 21px;
}

main form .btn-primary {
    background-color: #005248;
    border: none;
}

main form .btn-primary:hover {
    background-color: #007061;
}

main form .btn-primary:active {
    background-color: #007061 !important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.row .card .btn-sm {
    background-color: #005248;
    transform: translatex(0px) translatey(0px);
    min-height: 0px;
    min-width: 77px;
    border-style: none;
    text-align: center;
    font-weight: 300;
    font-size: 23px;
}

.row .card .btn-sm:hover {
    background-color: #007061;
}

.row .card .btn-sm:active {
    background-color: #007061;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.login-form {
    background-image: url("/static/images/card-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 687px;
    position: relative;
    top: 141px;
}

.login-form form .btn-primary {
    background-color: #005248;
    border: none;
}

.login-form form .btn-primary:hover {
    background-color: #007061;
}

.login-form form .btn-primary:active {
    background-color: #007061;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Footer */
footer {
    background-color: #2b2a29;
    color: #f8f8f8;
    padding: 1rem 0;
    text-align: center;

}

.footer-bs {
    position: absolute;
    width: 100%;
    min-height: 320px;
    bottom: 40px;
    left: 0;
}