{% extends "base.html" %} {% block content %}

<div class="row">
    <h1>Add a New Recipe</h1>
    <form action="{{ url_for('add_recipe') }}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <label for="Category_name">Style Of Food:</label>
                <select id="Category_name" name="Category_name" class=" validate" required>
                    <option value="" disabled selected>Choose your option</option>
                    {% for category in categories %}
                    <option value="{{category.Category_name}}">{{category.Category_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <label for="Name">Recipe Name:</label>
        <input type="text" id="recipe_name" name="Name" minlength="6" maxlength="55" required />

        <label for="Ingredients">Ingredients:</label>
        <textarea name="Ingredients" id="Ingredients" rows="10" required></textarea>

        <label for="preparation_steps">Preparation Steps:</label>
        <textarea name="preparation_steps" rows="10" required></textarea>

        <label for="Tools">Tools:</label>
        <textarea name="Tools" id="Tools" rows="5" maxlength="55"></textarea>

        <label for="Notes">Notes:</label>
        <textarea name="Notes" id="Notes" rows="5"></textarea>

        <input type="submit" value="Add Recipe" />
    </form>
</div>
{% endblock %}