<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font-awesome-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" type="text/css" /> -->
    <script src="https://kit.fontawesome.com/95a22f7bcf.js" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    {% block styles %}
    {% endblock %}
    <title>Middle-earth Meals</title>
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="nav-extened text-shadow text-brown lighten-2">
            <div class="nav-wrapper orange lighten-5">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo center">Middle-earth Meals</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    <li><a href="/add">Add Recipe</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
        <!-- Mobile menu -->
        <ul class="sidenav" id="mobile-menu">
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a href="/add">Add Recipe</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </header>






    {% block content %}
    {% endblock %}

    <!--Jqurey-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Custom JS-->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>