{% extends "base.html" %} {% block content %}
<div class="container change-password-form">
    <h3 class="text-center my-4">Change Password</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('change_password') }}">
                <div class="form-group">
                    <label for="old_password"><i class="fa fa-lock prefix"></i> Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" minlength="5"
                        maxlength="16" pattern="^[a-zA-Z0-9]{5,15}$" placeholder=" Enter current password"
                        aria-label="Enter a current password" title="Enter current password" required />
                </div>
                <div class="form-group">
                    <label for="new_password"><i class="fa fa-lock prefix"></i> New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" minlength="5"
                        maxlength="16" pattern="^[a-zA-Z0-9]{5,15}$" placeholder=" Enter a new password"
                        aria-label="Enter a new password" title="Enter a new password" required />
                </div>
                <div class="form-group">
                    <label for="confirm_password"><i class="fa fa-lock prefix"></i> Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password"
                        minlength="5" maxlength="16" pattern="^[a-zA-Z0-9]{5,15}$" placeholder=" Confirm new password"
                        aria-label="Confirm new password" title="Confirm new password" required />
                </div>
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-lock mr-2"></i>Change Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}