{% extends "base.html" %} {% block content %}




<div class="typewriter">
  <h3>Welcome to Middle Earth Meals,
    a realm where the magic of Tolkien's enchanting world comes to life in your kitchen! </h3>
</div>

<section>
  <div class="col-lg-6 Recipe Archives semi-transparent">
    <h4>Embark on a culinary journey through the mystical lands of hobbits, elves, and dwarves, as you explore a
      treasure trove of Lord of the Rings-inspired recipes.<br>

      From the rustic charm of the Shire's hearty meals to the ethereal elegance of Elvish feasts, discover the flavors
      of Middle Earth that will delight your taste buds and transport you to the heart of J.R.R. Tolkien's legendary
      world.<br> Gather your fellowship and forge a new path in the realm of epicurean delights. Adventure awaits, and
      so do
      the delectable dishes that will make your table the envy of all in Middle Earth.

      Let the quest for culinary mastery begin, and may the flavors be ever in your favor!</h4>
  </div>
</section>


{% endblock %}