{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3>{{username}}'s Profile</h3>
            <a href="{{ url_for('change_password') }}" class="btn btn-primary">Change Password</a>
        </div>
    </div>
</div>

<div class="row mt-5">
    {% for recipe in recipes %} {% if session.user|lower ==
    recipe.created_by|lower %}
    <div class="col-md-4">
        <div class="card mb-3 custom-card">
            {% if recipe.image_url %}
            <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.Name }}" />
            {% else %} {% if recipe.Category_name == "Elf" %}
            <img src="/static/images/Elf.png" class="card-img-top" alt="{{ recipe.Name }}" />
            {% elif recipe.Category_name == "Dwarf" %}
            <img src="/static/images/Dwarf.png" class="card-img-top" alt="{{ recipe.Name }}" />
            {% elif recipe.Category_name == "Man" %}
            <img src="/static/images/Man.png" class="card-img-top" alt="{{ recipe.Name }}" />
            {% elif recipe.Category_name == "Hobbit" %}
            <img src="/static/images/Hobbit.png" class="card-img-top" alt="{{ recipe.Name }}" />
            {% elif recipe.Category_name == "Chinese" %} {% endif %} {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ recipe.Name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ recipe.Style }}</h6>
                <div class="card-text">
                    <strong>Description:</strong> {{ recipe.Description }}<br />
                    <strong>Ingredients:</strong><br />
                    {% for ingredient in recipe.Ingredients %} - {{ ingredient }}<br />
                    {% endfor %}
                    <strong>Preparation Steps:</strong><br />
                    <ol>
                        {% for step in recipe.Preparation_steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </ol>
                    <strong>Required Tools:</strong><br />
                    {% for tool in recipe.Tools %} - {{ tool }}<br />
                    {% endfor %}
                    <strong>Notes:</strong> {{ recipe.Notes }}<br />
                    <strong>By:</strong> {{ recipe.created_by }}<br />
                </div>
            </div>
            <div class="card-footer custom-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            class="btn btn-sm btn-primary">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>

{% endblock %}