{% extends "base.html" %}

{% block content %}


<div class="col-md-4 my-3">
    {% for recipe in recipes %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.Name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.Category_name }}</h6>
            <div class="card-text">
                <strong>Description:</strong> {{ recipe.Description }}<br>
                <strong>Ingredients:</strong><br>
                {% for ingredient in recipe.Ingredients %}
                - {{ ingredient }}<br>
                {% endfor %}
                <strong>Preparation Steps:</strong><br>
                <ol>
                    {% for step in recipe.Preparation_steps %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
                <strong>Required Tools:</strong> {{ recipe.Tools }}<br>
                <strong>Notes:</strong> {{ recipe.Notes }}<br>
                <strong>By:</strong> {{ recipe.created_by }}<br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}